<div class="container">
	<h1>Náš team</h1>
	<div class="row mx-0">
		<div class="col-12 team-member">
			<img class="img-fluid member-avatar" alt="Bc. Petr Procházka" src="images/layout/contact/prochazka_petr.png">
			<h6 class="member-name">Bc. Petr Procházka</h6>
			<div class="member-info">CEO</div>
			<a class="member-contact" href="tel:+420 776 714 651">+420 776 714 651</a>
			<a class="member-contact" href="mailto:info@pp-soft.cz">info@pp-soft.cz</a>
		</div>
		<div class="col-12 col-sm-6 col-md-4 team-member">
			<img class="img-fluid member-avatar" alt="Jan Hajduch" src="images/layout/contact/hajduch_jan.png">
			<h6 class="member-name">Jan Hajduch</h6>
			<div class="member-info">Projektový manager, programátor</div>
			<a class="member-contact" href="tel:+420 722 010 794">+420 722 010 794</a>
			<a class="member-contact" href="mailto:hajduch@pp-soft.cz">hajduch@pp-soft.cz</a>
		</div>
		<div class="col-12 col-sm-6 col-md-4 team-member">
			<img class="img-fluid member-avatar" alt="Bc. Radim Kolísek" src="images/layout/contact/kolisek_radim.png">
			<h6 class="member-name">Bc. Radim Kolísek</h6>
			<div class="member-info">Projektový manager, grafik</div>
			<a class="member-contact" href="tel:+420 607 433 823">+420 607 433 823</a>
			<a class="member-contact" href="mailto:kolisek@pp-soft.cz">kolisek@pp-soft.cz</a>
		</div>
		<div class="col-12 col-sm-4 col-md-4 team-member">
			<img class="img-fluid member-avatar" alt="Ondřej Hájek" src="images/layout/contact/hajek_ondrej.png">
			<h6 class="member-name">Ondřej Hájek</h6>
			<div class="member-info">Programátor</div>
			<a class="member-contact" href="tel:+420 607 331 516">+420 607 331 516</a>
			<a class="member-contact" href="mailto:hajek@pp-soft.cz">hajek@pp-soft.cz</a>
		</div>
		<div class="col-12 col-sm-4 col-md-4 team-member">
			<img class="img-fluid member-avatar" alt="Jakub Mareček" src="images/layout/contact/marecek_jakub.png">
			<h6 class="member-name">Jakub Mareček</h6>
			<div class="member-info">Programátor</div>
			<a class="member-contact" href="mailto:marecek@pp-soft.cz">marecek@pp-soft.cz</a>
		</div>
		<div class="col-12 col-md-4 team-member new">
			<img class="img-fluid member-avatar" alt="Avatar" src="images/layout/contact/avatar.png">
			<h6 class="member-name">Čekáme právě na tebe!</h6>
			<div class="member-info">Kontaktuj nás na</div>
			<a class="member-contact" href="mailto:info@pp-soft.cz">info@pp-soft.cz</a>
		</div>
		<div class="col-12 col-sm-4 col-md-4 team-member">
			<img class="img-fluid member-avatar" alt="David Uherek" src="images/layout/contact/uherek_david.png">
			<h6 class="member-name">David Uherek</h6>
			<div class="member-info">Programátor</div>
			<a class="member-contact" href="mailto:uherek@pp-soft.cz">uherek@pp-soft.cz</a>
		</div>
	</div>
</div>