/* open-sans-300 - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../vendors/google_fonts/open-sans-v16-latin_latin-ext-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}