
@mixin transition($transition...)	{ -webkit-transition: $transition; -moz-transition: $transition; -ms-transition: $transition; -o-transition: $transition; transition: $transition; }
@mixin box-shadow($shadow)			{ -webkit-box-shadow: $shadow; -moz-box-shadow: $shadow; -o-box-shadow: $shadow; box-shadow: $shadow; }
@mixin filter($filter)				{ -webkit-filter: $filter; filter: $filter;}
@mixin animation($animation)		{ -webkit-animation: $animation; -moz-animation: $animation; -ms-animation: $animation; animation: $animation; }
@mixin transform($transform)		{ -webkit-transform: $transform; -ms-transform: $transform; transform: $transform; }
@mixin background-size($size...)	{ -webkit-background-size: $size; -moz-background-size: $size; -o-background-size: $size; background-size: $size; }
@mixin ul-reset()					{ padding: 0; margin: 0; list-style: none; }
@-webkit-keyframes shine {
	100% { left: 110%; }
}
@keyframes shine {
	100% { left: 110%; }
}

* { font-family: 'Open Sans'; }
body { background-color: $white; position: relative; }

a { text-decoration: none;  
	&:hover { text-decoration: none; }
}

.hidden             { display: none; }
.bold               { font-weight: 700; }
.italic             { font-style: italic; }
.width-100          { width: 100%; }
.width-50           { width: 50%; }

::selection         { background: #2a282c; color: $white;  }
::-moz-selection    { background: #2a282c; color: $white;  }

hr { margin-top: .3rem; margin-bottom: .3rem; 
	&.dashed { border-top: 1px #d4d4d4 dashed; background: none; margin: 0;  }
}

.overflow-hidden  { overflow: hidden; }

select, input, textarea, button, a {
    &:focus { outline: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; -o-box-shadow: none!important; box-shadow: none !important; } 
} 

select, input[type=text], input[type=password], input[type=search], textarea { width: 100%; border-radius: 0; border: 1px solid $white; color: $black; font-size: 16px; font-weight: 500;
	&:focus { border-color: $black; }
}
select, textarea { padding: 5px; }
input { padding: 10px; 
	&::placeholder { color: $white; }
	&.has_error { border: 1px solid #da2525; }  
}

img {  }

.videoWrapper 		 { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }
.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.btn { border-radius: 0;  }

.badge { border-radius: 0; width: 15px; height: 10px; margin: 0 6px; position: relative;
	&::before { position: absolute; border-top: 10px solid transparent; border-right: 6px solid transparent; width: 100%; height: 100%; right: 100%; top: 0; content: " "; }
	&::after { position: absolute; border-bottom: 10px solid transparent; border-left: 6px solid transparent; width: 100%; height: 100%; left: 100%; top: 0; content: " "; }
}
.badge-info {
	&::before { border-right-color: #69d1e1; }
	&::after { border-left-color: #69d1e1; }
}

.colored-fonts {
    span {
        &:nth-child(1){ color: #69d1e1; }        
        &:nth-child(2){ color: #57ccdd; }
        &:nth-child(3){ color: #44c6d9; }
        &:nth-child(4){ color: #32c1d6; }
        &:nth-child(5){ color: #2eb0c3; }
        &:nth-child(6){ color: #299eb0; }
        &:nth-child(7){ color: #258d9c; }
    }
}

.color-cyan { color: #69d1e1 !important; }
.color-blue { color: #32c1d6 !important; }
.color-green { color: #5dc078 !important; }
.color-red { color: #d6251d !important; }
.color-yellow { color: #f0ab00 !important; }
.color-black { color: #272827 !important; }

h1 { font-size: 1.5rem; font-weight: 900; color: $white; text-transform: uppercase; line-height: 1.7rem; position: relative;
	&::before { background: url("/images/layout/h1.png") no-repeat; position: absolute; width: 26px; height: 76px; left: -31px; top: -14px; content: " "; }
}

h2 { font-size: 1rem; line-height: 1.3rem; font-weight: 700; }

.cd-nav-trigger { height: 30px; width: 35px; float: right; position: relative; text-align: center; cursor: pointer;
	.cd-icon { background-color: $white; width: 30px; height: 1px; display: inline-block; position: absolute; top: 50%; left: calc(50% - 15px); z-index: 10; @include transition(background-color .3s);
		&::before,
		&::after { content: " "; background-color: inherit; width: 100%; height: 100%; position: absolute; top: 0; right: 0; @include transition(transform .3s); }         
		&::before { @include transform(translateY(-8px) rotate(0deg)); }
		&::after { @include transform(translateY(8px) rotate(0deg)); }
	}
	&.close-nav {
		.cd-icon { background-color: transparent;
			&::before,
			&::after { background-color: $white; height: 1.5px; }
			&::before { @include transform(translateY(0) rotate(45deg)); }
			&::after { @include transform(translateY(0) rotate(-45deg)); }
		}
	}
}

.btn-off { color: $white; background-color: #32c1d6; font-size: 25px; font-weight: 300; text-transform: uppercase; height: 70px; line-height: 70px; border: none; white-space: nowrap; padding: 0 35px; position: relative; @include transition(.3s ease-in-out);
	&::before { border-bottom: 70px solid transparent; border-right: 20px solid #32c1d6; position: absolute; width: 20px; top: 0; right: 100%; content: " "; @include transition(.3s ease-in-out); }
	/*&::after { border-bottom: 0 solid transparent; border-left: 0 solid #32c1d6; position: absolute; width: 20px; top: 0; left: 100%; content: " "; @include transition(.3s ease-in-out); }*/
	&:hover { color: $white; background-color: #69d1e1; @include box-shadow(-3px 3px 3px 0 rgba(50,193,214,.5));
		&::before { border-right-color: #69d1e1; @include filter(drop-shadow(-3px 3px 3px rgba(50,193,214,.5))); } 
		/*&::before { border-right-color: #69d1e1; border-bottom-width: 0; border-right-width: 0; }
		&::after { border-left-color: #69d1e1; border-bottom-width: 70px; border-left-width: 20px; }*/
	}
}

.btn-off-light { color: #32c1d6; background-color: $white;
	&::before { border-right: 20px solid $white; }
	&:hover { color: #32c1d6; background-color: #f0f0f0;
		&::before { border-right-color: #f0f0f0; }
	}
}

.btn-more { color: $white; background-color: #32c1d6; font-size: 17px; text-transform: uppercase; height: 36px; line-height: 36px; border: none; white-space: nowrap; padding: 0 30px; position: relative; @include transition(.3s ease-in-out);
	&::before { border-bottom: 36px solid transparent; border-right: 10px solid #32c1d6; position: absolute; width: 10px; top: 0; right: calc(100% - .3px); content: " "; @include transition(.3s ease-in-out); }
	&:hover { color: $white; background-color: #69d1e1; @include box-shadow(-1px 1px 1px 0 rgba(50,193,214,.5));
		&::before { border-right-color: #69d1e1; @include filter(drop-shadow(-1px 1px 1px rgba(50,193,214,.5))); } 
	}
}

.btn-filter { color: #1e1e1e; background-color: transparent; font-size: 20px; font-weight: 400; text-transform: uppercase; padding: 5px 5px 0 15px; border-radius: 0; margin-top: 3px; max-width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; 
	& > span { font-size: 12px; font-weight: 400; }
	&:hover { color: #1e1e1e; background-color: #69d1e1; }
	&.active { color: $white; background-color: #32c1d6; font-weight: 800;
		&:hover { background-color: #69d1e1; }
	}
}

.btn-tag { color: $white; background-color: #32c1d6; font-size: 14px; height: 24px; line-height: 24px; border: none; white-space: nowrap; padding: 0 5px; margin: 1px 2px; position: relative; @include transition(.3s ease-in-out);
	&::before { border-bottom: 24px solid transparent; border-right: 5px solid #32c1d6; position: absolute; width: 5px; top: 0; right: 100%; content: " "; @include transition(.3s ease-in-out); }
	&::after { border-top: 24px solid transparent; border-left: 5px solid #32c1d6; position: absolute; width: 5px; top: 0; left: 100%; content: " "; @include transition(.3s ease-in-out); }
	&:hover { color: $white; background-color: #69d1e1;
		&::before { border-right-color: #69d1e1; } 
		&::after { border-left-color: #69d1e1; } 
	}
}

.filter-button-group { text-align: center; border-bottom: 2px solid #e2e2e2; }

.reference-data {
	&:nth-child(1) { color: #2aa1d3;
		&::before { background: url("/images/layout/references/slash_blue.png") no-repeat; }
	}
	&:nth-child(2) { color: #f40019;
		&::before { background: url("/images/layout/references/slash_red.png") no-repeat; }
	}
	&:nth-child(3) { color: #8ab71b;
		&::before { background: url("/images/layout/references/slash_green.png") no-repeat; }
	}
}

.reference-row { margin: 30px 0; background-position-y: 57px; background-repeat: no-repeat; position: relative;
	h2 { color: #494949; font-size: 27px; font-weight: 300; line-height: 1.2; margin-bottom: 20px; }
	.reference-img { display: flex; align-items: center; padding: 0 3%; }
	.reference-content { background-color: transparent; display: flex; flex-flow: column; justify-content: center; padding: 0 3%;
		h2 { margin: 10px 0 30px; }
	}
	.reference-text { color: #858585; font-size: 17px; margin: 20px 0;
		p { margin-bottom: 5px; }
	}
	.reference-link { padding: 20px 0;
		a { color: #858585; font-size: 17px; font-weight: 700; }
		label { color: #373737; font-size: 13px; font-weight: 400; margin: 5px 0; }
	}
	.reference-sum { font-size: 21px; line-height: 1; display: flex; flex-flow: column; justify-content: space-evenly; align-items: center; padding: 20px 0;
		.reference-data { padding: 15px 0; text-align: center; }
		.sum-time { color: #313131; font-size: 14px; }
		.sum-type { text-transform: uppercase; }
	}
	.reference-tag { margin: 20px 0; text-align: center; }
	&.reference-left { background-position-x: left;
		& > .row { flex-direction: row; }
		.reference-img { justify-content: flex-end; }
	}
	&.reference-right { background-position-x: right;
		& > .row { flex-direction: row-reverse; }
		.reference-img { justify-content: flex-start; }
	}
	&.triangle {
		.reference-img { height: 687px; }
		.reference-content { background-color: rgba(255, 255, 255, .93); }
	}
}

.grid-item { overflow: hidden; position: relative;
	.grid-display { display: inline-block; }
	&.show {
		.grid-box { @include transform(translateX(0)); }
	}
}

.grid-box { color: $white; background-color: rgba(29,29,29,.85); padding: 15px 20px; position: absolute; top: 0; right: 0; width: 100%; height: 100%; z-index: 11; @include transform(translateX(-100%)); @include transition(.5s transform linear);
	.grid-name { font-size: 25px; font-weight: 800; padding: 5px 0; border-bottom: 1px solid $white; margin-bottom: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
	.grid-info { font-size: 17px; font-weight: 300; line-height: 22px; height: 66px; overflow: hidden; margin-bottom: 5px; }
	.grid-data { background-color: rgba(255,255,255,.1); height: 48px; display: flex; justify-content: space-between; align-items: center; margin: 0 12px; position: relative;
		.reference-data { color: $white; font-size: 11px; text-transform: uppercase; margin: 0 10px; position: relative; 
			&::before { position: absolute; width: 18px; height: 39px; left: -22px; top: calc(50% - 20px); content: " "; }
		}
		&::before { border-bottom: 48px solid transparent; border-right: 12px solid rgba(255,255,255,.1); position: absolute; width: 12px; top: 0; right: 100%; content: " "; }
		&::after { border-top: 48px solid transparent; border-left: 12px solid rgba(255,255,255,.1); position: absolute; width: 12px; top: 0; left: 100%; content: " "; }
	}
	.btn-more { margin-left: 10px; margin-top: 10px; }
}

.carousel3d-box { width: 100%; height: 200px; position: relative; overflow: hidden;
	.carousel3d { width: 80%; height: 90%; max-width: 585px; max-height: 332px; margin: 0; position: absolute; top: 50%; left: 50%; -webkit-perspective: 800px; perspective: 800px; @include transform(translate(-50%, -50%));
		.carousel3d-content { width: 100%; height: 100%; position: absolute; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; @include transform(translateZ(-250px) rotateY(0)); -webkit-animation: carousel3d 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards; animation: carousel3d 20s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
			.carousel3d-item { background-size: contain; background-repeat: no-repeat; width: 100%; height: 100%; position: absolute; top: 0; left: 0;
				&:nth-child(1) { @include transform(rotateY(0) translateZ(250px)); }
				&:nth-child(2) { @include transform(rotateY(120deg) translateZ(250px)); }
				&:nth-child(3) { @include transform(rotateY(240deg) translateZ(250px)); }
			}
		}
		&:hover .carousel3d-content { /*animation-play-state: running; animation-direction: reverse; animation-duration: 10s;*/ }
	}
}

@-webkit-keyframes carousel3d {
	0%, 17.5% { @include transform(translateZ(-250px) rotateY(0)); }
	27.5%, 45% { @include transform(translateZ(-250px) rotateY(-120deg)); }
	55%, 72.5% { @include transform(translateZ(-250px) rotateY(-240deg)); }
	82.5%, 100% { @include transform(translateZ(-250px) rotateY(-360deg)); }
}

@keyframes carousel3d {
	0%, 17.5% { @include transform(translateZ(-250px) rotateY(0)); }
	27.5%, 45% { @include transform(translateZ(-250px) rotateY(-120deg)); }
	55%, 72.5% { @include transform(translateZ(-250px) rotateY(-240deg)); }
	82.5%, 100% { @include transform(translateZ(-250px) rotateY(-360deg)); }
}

.scroll-up { display: none; text-align: center; width: 50px; bottom: 40px; right: 40px; position: fixed; cursor: pointer; z-index: 99;
	.scroll-up-mouse, .scroll-up-arrow { @include filter(drop-shadow(0px 0px 3px rgba(0, 0, 0, .75))); @include transition(.3s ease-in-out); }
	.scroll-up-arrow { @include transform(rotate(180deg)); }
	.scroll-up-mouse { margin-top: -5px; }
}

.gradient-hover { background-position-y: top; background-size: auto 300%; background-image: linear-gradient(to top, #31c6dc 0%, #31c6dc 30%, #69d1e1 50%, #31c6dc 70%, #31c6dc 100%); background-image: -webkit-linear-gradient(top, #31c6dc 0%, #31c6dc 30%, #69d1e1 50%, #31c6dc 70%, #31c6dc 100%);
	&:hover { background-position-y: center; }
}

.zoom-link-hover { display: inline-block;
	img { @include transition(.3s transform ease-in-out); }
	&:hover img { @include transform(scale(1.05)); }
}

.effect-img-hover { overflow: hidden;
	&::before { position: absolute; top: 0; left: -30%; z-index: 2; display: block; content: " "; width: 20%; height: 100%; background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%); background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%); @include transform(skewX(-15deg)); }
	&:hover::before { @include animation(shine .75s); }
	img { @include transform(scale(1)); @include transition(.3s transform ease-in-out); }
	&:hover img { @include transform(scale(1.1)); }
}

div[data-src].lazy { /*background-size: 32px 32px !important; background-position: 50% 50% !important;*/ }
img[data-src].lazy { font-size: 0; opacity: 0; width: 32px !important; height: 32px !important; margin: auto !important; }

/* Safari 5.1-6.0 */
@media only screen and (-webkit-min-device-pixel-ratio: 1) {
     ::i-block-chrome, .row { display: -webkit-box; display: flex; }
     ::i-block-chrome, .scroll-up  { background-color: rgba(0,0,0,0.48); border-radius: 20px; padding: 10px 0; }
}

/* IE 10, 11 */
_:-ms-input-placeholder, .row { display: -ms-flexbox; display: flex; }
_:-ms-input-placeholder, .justify { justify-content: space-around !important; }
_:-ms-input-placeholder, .carousel3d-content { animation: none !important; }
_:-ms-input-placeholder, .carousel3d-item { transform: none !important; }
_:-ms-input-placeholder, .scroll-up  { background-color: #f0f0f0; border-radius: 50px; padding: 10px 0; }

/* Edge */
@supports (-ms-ime-align:auto) { .justify { justify-content: space-around !important; } }

#mobile-menu { display: none; background-color: rgba(28,32,33,.88);/*#1c2021*/; position: fixed; top: 0; right: 100%; z-index: 100;
	#inside { padding-top: 15px; 
		.container-menu { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; } 
		.logo {
			img { height: 35px; width: auto; }
		}
		.close-mobile-menu { width: 40px; }
		.navbar-collapse,
		#main-menu { display: block; }
		#menu-response { border-top: 1px solid #7f8282; padding-top: 10px; padding-bottom: 10px; margin-top: 15px; overflow-y: auto;
			&::-webkit-scrollbar-track { background-color: #303537; }
			&::-webkit-scrollbar { width: 6px; }
			&::-webkit-scrollbar-thumb { background-color: #494b4d; border: 1px solid #303537; }
		}
		.nav-item.show .nav-link { background-color: transparent; }
		.nav-link { border: none; margin-top: 15px;
			.badge { display: none; }
		}
		.dropdown-menu { background-color: transparent; padding: 0; border-top: none;
			.dropdown-item { padding: 5px 10px; padding-left: 35px;
				&::before { left: 10px; }
				&::after { left: 17px; }
			}
		}
	}
}

#main-menu { padding: 0;
	.nav-item.show .nav-link { background-color: rgba(28,32,33,1); border-color: $black; @include transition(0s 0s);
		&::after { opacity: 1; }
	}
	.nav-link { color: $white; font-size: 14px; font-weight: 300; text-transform: uppercase; padding: 5px 10px; border: 1px solid transparent; border-bottom: none; position: relative; z-index: 68; @include transition(.3s background-color ease-in-out .3s, .3s border-color ease-in-out .3s, .3s color ease-in-out);
		&:hover, &.active { color: #32c1d6; }
		.badge { font-size: 55%; padding: 0.15em 0.4em; /* position: absolute; right: 0; bottom: 3px; */ }
	}
	.dropdown-toggle {
		&::after { background: url('/images/svg/down-arrow.svg') no-repeat; background-size: 11px 11px; width: 11px; height: 10px; border: none; vertical-align: 0em; margin-left: 0; opacity: 0.7; @include transition(transform .3s); }
	}
	.dropdown-menu { color: $white; background-color: rgba(28,32,33,.88); font-size: 14px; padding: 10px 5px; max-width: 320px; border: none; border-top: 1px solid $black; border-radius: 0; margin: 0; top: calc(100% - 1px); left: -20px; z-index: 42;
		.dropdown-item { color: $white; background-color: transparent; text-transform: uppercase; padding: 3px 5px; padding-left: 25px; border-radius: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: relative; @include transition(.3s background-color ease-in-out);
			&::before { content: " "; background-color: $white; width: 15px; height: 1px; display: inline-block; position: absolute; top: 50%; left: 5px; }
			/*&::after { content: " "; background-color: $white; width: 1px; height: 0; display: inline-block; position: absolute; top: 50%; left: 12px; @include transition(.3s all ease-in-out); }*/
			&:hover { color: $white; background-color: rgba(8,128,145,.68);
				/*&::after { height: 15px; top: calc(50% - 7px); }*/
			}
		}
		.dropdown-divider { border-color: #7f8282; margin: 3px 0; }
	}
}

#top { background: rgba(0,0,0,.48); padding: 15px 0; top: 0; z-index: 99; width: 100%; border-bottom: 1px solid #4a6a6e; position: absolute;
	&.fix { background: url("/images/layout/top-line-bg.jpg") no-repeat bottom center; position: static; @include background-size(cover); }            
	&.sps--blw { position: fixed; top: 0; z-index: 99; width: 100%; 
		& ~ #home { margin-top: 71px; }	
	}
	.logo { span {display: none;  } 
		img { height: 35px; width: auto;}  
	}
	.container-fluid { position: relative;
		& > .row { align-items: center; }
	}
	
	#contacts-offers-panel { text-align: center; position: absolute; padding: 8px 0; left: 0; top: 100%; z-index: 1; margin-top: 16px; background: url(/images/layout/top-line-bg.jpg) no-repeat bottom center; @include background-size(cover); 
		.top-phone { margin-left: 10px; margin-right: 5px; display: inline-block;
			.phone-icon { display: inline-block;
				img { height: 24px; opacity: .6; @include transition(.3s ease-in-out); }
				&:hover img { opacity: 1; }
			}
			.phone-number { display: none; color: $white; font-size: .75rem; font-weight: 600; vertical-align: 0em; }                
		}
		.top-mail { margin-left: 5px; margin-right: 10px; display: inline-block;
			.mail-icon { display: inline-block;
				img { height: 16px; opacity: .6; @include transition(.3s ease-in-out); }
				&:hover img { opacity: 1; }
			}
			.mail-adress { color: $white; font-size: .75rem; font-weight: 600; vertical-align: 0em; }
		}  	
		.top-offer { display: inline-block; margin-left: 3px; margin-right: 3px; 
			a { color: #15474e; background-color: $white; font-size: .8rem; text-transform: uppercase; padding: .25rem 0; border: 1px solid #c0ccce; @include box-shadow(0 0 0 3px rgba(255,255,255,1));
				&:hover { @include box-shadow(0 0 0 3px #c0ccce); }
			}  
		} 
	}
}

#home { position: relative; color: $white;
	.container-fluid { min-height: 900px; padding-top: 80px;  padding-bottom: 80px; background: url("/images/layout/homepage/bg.png") no-repeat bottom center; @include background-size(cover);
		.scroll-down { display: none; position: absolute; bottom: 8%; width: 50px; left: 50%; margin-left: -25px; text-align: center; cursor: pointer; 
			.scroll-down-mouse { opacity: .5; }
			.scroll-down-arrow { opacity: .5; width: 50px; }
			&:hover {
				.scroll-down-mouse, .scroll-down-arrow { opacity: 1; }
			}
		}
		.home-collage { max-height: 100%; max-width: 100%; display: inline-block; width: 100%; }
    }
	h1 { margin-bottom: 15px; margin-left: 20px; }
	h2 { margin-bottom: 30px; }
	p { font-size: .8rem; line-height: 1.2rem; }
}

#stats { 
	.container-fluid { padding-bottom: 30px; }
	.stat-col       { margin-top: 25px; }
	.stat-icon      { max-width: 20px; }
	.colored-fonts  { font-size: 1.4rem; font-weight: 900; }
	.subtext        { font-size: .8rem; font-weight: 100;  }  
}

#why { background: #1d1d1d /*url("/images/layout/homepage/office.png")*/ no-repeat center left; 
	.left-background { background: url("/images/layout/homepage/left_corner_sm.png") no-repeat bottom right; }
	.why-content { background-color: #1d1d1d; padding-top: 30px; padding-bottom: 30px; color: $white; position: relative;
		.why-boxes { margin-top: 70px;
			.why-row { width: 100%; text-align: center;
				.why-benefit { flex-flow: column; margin-bottom: 50px;
					.why-icon { margin-right: 15px; margin-bottom: 15px; width: 100%; text-align: center;  }
					.why-info { text-align: center; }
				}
			}
		}
		.bottom-shadow { position: absolute; top: 100%; left: 0; max-width: 100%; height: auto; }
	}
	h1 { margin-left: 40px; }
	.why-title { display: none; }
}

#references {
	.container-fluid { padding: 30px 0; } 
	h1 { color: #69d1e1; display: inline-block;
		&::before { background: url("/images/layout/h1_blue.png") no-repeat; }
	}
	.reference-head { text-align: center; margin-bottom: 70px; }
	.reference-row {
		h2 { color: #69d1e1; font-size: 27px; font-weight: 900; text-transform: uppercase; margin-bottom: 10px; }
		.reference-img {
			&:nth-child(even) .reference-image-text { background-color: rgba(255,255,255,.94);
				&::before { border-right-color: rgba(255,255,255,.94); }
			}
			&:nth-child(odd) .reference-image-text { background-color: rgba(92,92,92,.85);
				&::before { border-right-color: rgba(92,92,92,.85); }
			}
		}
		&:not(.view):nth-child(even) { background-position-x: left;
			& > .row { flex-direction: row; }
			.reference-img { justify-content: flex-end; }
		}
		&:not(.view):nth-child(odd) { background-position-x: right;
			& > .row { flex-direction: row-reverse; }
			.reference-img { justify-content: flex-start; }
		}
		&.view {
			.reference-sum { padding: 50px 0; }
			.reference-img { position: relative;
				&:nth-child(even):hover .reference-image-text { background-color: rgba(255,255,255,.84);
					&::before { border-right-color: rgba(255,255,255,.84); }
					&::after { border-left-color: rgba(255,255,255,.84); }
				}
				&:nth-child(odd):hover .reference-image-text { background-color: rgba(92,92,92,.75);
					&::before { border-right-color: rgba(92,92,92,.75); }
					&::after { border-left-color: rgba(92,92,92,.75); }
				}
				/*&:hover .reference-image-text {
					&::before { border-bottom-width: 0; border-right-width: 0; }
					&::after { border-bottom-width: 50px; border-left-width: 15px; }
				}*/	
			}
		}
	}
	.reference-image-text { color: #69d1e1; background-color: transparent; font-size: 18px; text-align: center; width: 215px; height: 50px; line-height: 50px; border: none; padding: 0; white-space: nowrap; position: absolute; top: calc(50% - 25px); left: calc(50% - 105px); @include transition(.3s ease-in-out);
		&::before { border-bottom: 50px solid transparent; border-right: 15px solid transparent; position: absolute; width: 15px; top: 0; right: 100%; content: " ";  @include transition(.3s ease-in-out); }
		/*&::after { border-bottom: 0 solid transparent; border-left: 0 solid transparent; position: absolute; width: 15px; top: 0; left: 100%; content: " ";  @include transition(.3s ease-in-out); }*/
	}
}

#offer { background-color: #2e353b;
	.container-fluid { padding-top: 50px; padding-bottom: 50px; text-align: center; }
	.container { margin-top: 30px; position: relative; }
	h1 { display: inline-block; }
	.offer-layout { padding: 10px;
		&:nth-child(even) .offer-box { background-color: rgba(255,255,255,.2);
			&:hover { background-color: rgba(255,255,255,0.25); }
		}
		&:nth-child(odd) .offer-box { background-color: rgba(255,255,255,.1);
			&:hover { background-color: rgba(255,255,255,0.15); }
		}
	}
	.offer-box { color: $white; font-size: 14px; text-align: center; border-bottom: 4px solid #2eb0c3; padding: 30px 30px; height: 100%; overflow: hidden; @include transition(.3s ease-in-out);
		&:hover { @include transform(scale(1.05)); transform-origin: center; @include box-shadow(0 0 10px 5px rgba(0,0,0,.5)); }
		.offer-icon { max-width: 100%; height: 74px; }
		h3 { color: $white; font-size: 26px; font-weight: 800; text-align: center; text-transform: uppercase; margin: 20px 0 10px; }
		.offer-info { height: 100px; overflow: hidden;
			p { margin-bottom: 0; }
		}
		.offer-list {
			ul { text-align: left; padding: 0 25px; margin-bottom: 0;
				li { display: flex; align-items: center; padding: 2px 0;
					&::before { color: #2eb0c3; font-size: 24px; line-height: 24px; margin-right: 10px; content: "\f105"; font-family: 'Font Awesome 5 Free'; }
				}
			}
		}
	}
	.quality-panel { margin-top: 20px;
		.quality-box { color: $white; font-size: 17px; font-weight: 700; text-transform: uppercase; text-align: left; border-bottom: 1px solid #50d7ea; height: 110px; padding: 10px 10%; display: block; display: flex; align-items: center; background-color: #31c6dc; @include transition(.3s ease-in-out); position: relative; z-index: 13;
			img { height: 35px; }		
		}
		.gaus-blur { background: url("/images/layout/homepage/gaus_blur.png") no-repeat top left; background-size: cover; width: 100%; height: 73px; position: absolute; bottom: -30px; left: 0; }
	}
	.quality-layout { 
		&:last-child .quality-box { border-bottom: none; }
	}
}

#review { background: /*url("/images/layout/homepage/review_bg.png")*/ no-repeat top left; max-height: 795px; overflow: hidden;
	.container-fluid { padding-top: 50px; padding-bottom: 30px; text-align: center; }
	h1 { color: #434343; display: inline-block;
		&::before { background: url("/images/layout/h1_black.png") no-repeat; }
	}
	.review-row { align-items: center; margin-top: 30px; }
	.arrow { color: #a7a9ac; font-size: 50px; line-height: 1; width: 30px; display: inline-block; cursor: pointer; @include transition(.3s ease-in-out);
		&:hover { color: #69d1e1; @include transform(scale(1.1)); }
	}
	.review-box { color: #2e353b; font-size: 14px; text-align: center; padding: 10px; position: relative;
		.review-img { display: inline-block; width: 130px; }
		.review-head { font-size: 21px; font-weight: 700; margin: 15px 0; }
		.review-name { font-size: 14px; margin: 15px 0; }
		.review-text { font-weight: 500; height: 85px; overflow: hidden;
			p { margin-bottom: 0; }
		}
		.review-quote { color: #31c6dc; background: /*url("/images/layout/homepage/quote.png")*/ no-repeat top left; width: 34px; height: 31px; margin-top: 10px; display: inline-block; }
	}
}

#world { background: #282e33 /*url("/images/layout/homepage/world_bg.png")*/ no-repeat center left; border-bottom: 9px solid #31c6dc;
	.container-fluid { padding-top: 50px; padding-bottom: 50px; text-align: center; }
	h1 { display: inline-block; }
	.world-row { align-items: center; margin-top: 30px; }
	.world-text { color: $white; font-size: 16px; font-weight: 500; line-height: 2;
		p { margin-bottom: 10px; }
	}
	.world-flag { width: 55px; height: 55px; margin: 0 7px; }
}

.top-banner { height: 352px;
	h1 { color: #32c1d6; background: rgba(255,255,255,.83); text-align: center; height: 57px; line-height: 57px; padding-left: 15px; padding-right: 45px; display: inline-block; margin-top: 185px; margin-bottom: 0;
		&::before { background: none; border-bottom: 57px solid transparent; border-right: 30px solid rgba(255,255,255,.83); position: absolute; width: 30px; height: 100%; top: 0; right: 100%; left: auto; content: " "; }
	}
}

#contact-banner { background: url("/images/layout/banner/uh.png") no-repeat top center; }

#contact {
	.container { padding-top: 20px; padding-bottom: 20px; }
	.big-contact { display: flex; align-items: center; justify-content: space-evenly;
		.contact-link { color: #3b3b3b; font-size: 23px; font-weight: 300; }
		.contact-icon { display: inline-block;
			img { max-height: 67px; }
		}
	}
	.info-contact { color: #6c6c6c; font-size: 15px; padding: 20px 0; border-top: 1px solid #898989; border-bottom: 1px solid #898989; margin-top: 50px;
		h2 { color: #6c6c6c; text-transform: uppercase; margin-bottom: 35px; }
		#map { height: 333px; }
	}
}

#team {
	.container { padding-top: 50px; padding-bottom: 20px; text-align: center; }
	h1 { color: #434343; display: inline-block; margin-bottom: 45px;
		&::before { background: url("/images/layout/h1_black.png") no-repeat; }
	}
	.team-member { color: #252525; font-weight: 400; padding: 15px 5px; display: inline-block; display: flex; flex-flow: column; align-items: center;
		.member-avatar { padding: 10px 5px; }
		.member-name { font-size: 23px; font-weight: 700; margin-bottom: 5px; }
		.member-info { font-size: 19px; line-height: 1; margin-bottom: 5px; }
		.member-contact { color: #252525; font-size: 16px; line-height: 1.2; }
		&:nth-child(1) { order: 1; }
		&:nth-child(2) { order: 3; }
		&:nth-child(3) { order: 2; }
		&:nth-child(4) { order: 4; }
		&:nth-child(5) { order: 5; }
		&:nth-child(6) { order: 7; }
		&:nth-child(7) { order: 6; }
		&.new { order: 9;
			.member-name { font-size: 18px; margin-bottom: 10px; }
			.member-info, .member-contact { font-size: 18px; }
		}
	}
}
#story { background: url(/images/layout/contact/timeline_bg.png) no-repeat top left; padding-top: 49px;
	.layout { background-color: #32c1d6; overflow: hidden; }
	.container { padding-top: 35px; padding-bottom: 15px; text-align: center; }
	h1 { display: inline-block; margin-bottom: 70px; }
	#timeline {
		.year {
			.year_storys { min-height: 300px; width: 100%; padding-top: 90px; position: relative;
				.story { text-align: left; width: 100%; padding-top: 5px; position: static;
					.story_outer { color: $white; background-color: #63d0e0; font-size: 13px; padding: 35px 15px; position: relative; z-index: 42;
						&::before { background: url("/images/layout/contact/corner_shadow.png") no-repeat top right; width: 100%; height: 100%; top: -5px; content: " "; }
						.story_title { font-size: 20px; font-weight: 600; margin-bottom: 20px; }
						p { margin-bottom: 0; }
					}
					& ~ .story { margin-top: 30px; }
				}
				.left_story { left: 0;
					.story_outer::before { position: absolute; left: -8px; @include transform(rotateY(-180deg)); }
				}
				.right_story { right: 0;
					.story_outer::before { position: absolute; right: -8px; }
				}
				.time-line { background: url("/images/layout/contact/timeline_repeat.png") repeat-y top center; width: 26px; height: 100%; position: absolute; top: 0; left: calc(50% - 13px);
					.time-line-rel { height: 300px; position: relative; z-index: 68; }
					.time-line-item { position: absolute;
						.time-line-date { color: $white; background-color: #185c66; font-size: 28px; font-weight: 700; text-align: center; width: 139px; display: inline-block; position: relative;
							&::after { border-top: 10px solid #185c66; width: 100%; position: absolute; top: 100%; left: 0; content: " "; }							
						}
						.time-line-dot { background: url("/images/layout/contact/timeline_marker.png") no-repeat top center; width: 26px; height: 13px; position: absolute; top: calc(100% + 10px); }
						&.year-mark { top: 0;
							.time-line-date { font-size: 42px; font-weight: 900; }
						}
						&.time-line-item-left { text-align: left; right: calc(50% - 70px);
							.time-line-dot { right: calc(50% - 13px); }
							.time-line-date::after { border-left: 139px solid transparent; }
						}
						&.time-line-item-right { text-align: right; left: calc(50% - 70px);
							.time-line-dot { left: calc(50% - 13px); }
							.time-line-date::after { border-right: 139px solid transparent; }
						}
					}
				}
			}
			&:last-child .year_storys { padding-bottom: 15px;
				.time-line { padding-bottom: 15px;
					&::after { background: url("/images/layout/contact/timeline_bottom_repeat.png") no-repeat top center; width: 26px; height: 10px; position: absolute; top: 100%; left: 0; content: " "; }
				}
			}
			&:first-child .year_storys { padding-top: 105px;
				.time-line { padding-top: 15px; 
					&::before { background: url("/images/layout/contact/timeline_top_repeat.png") no-repeat top center; width: 26px; height: 10px; position: absolute; bottom: 100%; left: 0; content: " "; }
				}
			}
		}
	}
}

#references-banner { background: url("/images/layout/banner/workspace.png") no-repeat top center; }

#references-grid {
	.container-fluid { padding: 25px 0; }
	.grid { margin: 45px 0; }
}

#bewooden-banner { background: url("/images//layout/banner/bewooden_banner.png") no-repeat top center; }
#pekro-banner { background: url("/images//layout/banner/pekro_banner.png") no-repeat top center; }
#elementstore-banner { background: url("/images//layout/banner/elementstore_banner.png") no-repeat top center; }

.reference-page { padding-top: 50px; padding-bottom: 50px;
	.container { padding: 25px 10px; }
	.container-fluid { padding: 25px 0; }
	h2 { font-size: 37px; }
	.reference-info { color: #858585; font-size: 23px; font-weight: 300; }
	.reference-row { margin: 80px 0;
		.reference-sum { width: 100%; position: static; justify-content: space-between; }
		&:not(.triangle):not(.view) { padding: 20px 0;
			h2 { position: relative;
				&::before { background: url("/images/layout/h1.png") no-repeat; position: absolute; width: 26px; height: 96px; left: -31px; top: 50%; @include transform(translateY(-50%)); content: " "; }
			}
			&:nth-child(odd) { background-color: rgba(250,250,250,.34); }
			&:nth-child(even) { background-color: rgba(255,255,255,0); }
			&.hexagon { background: url("/images/layout/references/hexagon_bg.png") repeat top left; }
			&.slash-black h2::before { background-image: url("/images/layout/h1_black.png") }
			&.slash-blue h2::before { background-image: url("/images/layout/h1_blue.png") }
			&.slash-green h2::before { background-image: url("/images/layout/h1_green.png") }
			&.bg-yellow { background-color: #facd48; }
		}
	}
	.reference-panel { background-color: #32c1d6; background: url(/images/layout/references/control_bg) repeat center left, url(/images/layout/references/pattern_bg.png) repeat top left; color: $white; padding: 20px 0;
		.panel-box { font-size: 25px; text-align: center; line-height: 1; padding: 5px 10px;
			&:nth-child(1) { order: 1; }
			&:nth-child(2) { order: 2; }
			&:nth-child(3) { order: 3; }
		}
		.panel-link { color: $white; font-size: 20px; }
	}
}

#footer {
	.footer-layout { background: rgba(170,170,170,.33) /*url("/images/layout/footer/footer_right_bg.png")*/ no-repeat bottom right 20%; margin-top: 75px; margin-bottom: 75px;
		.underlayout { background: /*url(/images/layout/footer/footer_left_bg.png)*/ no-repeat top right; width: 1121px; height: calc(100% + 45px); position: absolute; top: -45px; right: -15px; }
		.overlayout { background-color: rgba(36,36,36,.93); width: 100%; height: calc(100% + 20px); position: absolute; top: -20px; right: 0; }
		.footer-box { color: #565656; font-size: 13px; padding: 25px 30px; position: relative;
			&:first-child { color: $white; }
		}
		.footer-contact { color: $white; font-size: 16px; font-weight: 500; padding-top: 10px; padding-bottom: 10px;
			a { color: $white; }
			.bold { font-size: 20px; display: block; margin-bottom: 15px; }
		}
		.footer-social { display: flex; margin-top: 10px; margin-bottom: 20px; align-items: center; justify-content: center;
			a { display: inline-block; margin: 0 5%; }
			img { height: 39px; }
		}
		.footer-text { font-weight: 500; line-height: 1.7; height: 67px; margin: 30px 20px; overflow: hidden;
			p { text-align: justify; margin-bottom: 0; }
		}
		.footer-link {
			a { display: inline-block; } 
		}
	}
	h4 { color: #404040; font-size: 16px; font-weight: 800; text-transform: uppercase; margin-bottom: 20px; }
	
	.logo { margin-bottom: 40px;
		img { height: 36px;}
	}
	.apek {
		img { height: 51px;}
	}
	.heureka {
		img { height: 81px;}
	}
}

#bottom {
	.container { padding-top: 20px; padding-bottom: 20px; }
	.copyright { color: #727272; font-size: 14px; }
}

@include media-breakpoint-down(sm) {

}

@include media-breakpoint-down(md) {
	#offer { background-image: none !important; }
}

@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(xl) {

}

@include media-breakpoint-up(sm) { 
	h1 { font-size: 2.5rem; line-height: 2.8rem;  }
	.grid-box { padding: 5px 10px;
		.grid-name { font-size: 23px; }
		.grid-info { font-size: 15px; line-height: 20px; height: 60px; }
	}
	.reference-row {
		.reference-sum { font-size: 19px; flex-flow: row;
			.reference-data { text-align: left; margin-left: 18px; position: relative;
				&::before { position: absolute; width: 26px; height: 72px; left: -26px; top: calc(50% - 36px); content: " "; }
			}
			.sum-type { margin-left: 5px; }
		}
	}
	.carousel3d-box { height: 300px;
		.carousel3d { width: 85%; height: 90%; }
	}
	#mobile-menu {
		#inside { padding-top: 30px;
			#menu-response { padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 10px; margin-top: 30px; }
		}   
	}
	#top { padding: 30px 40px; 
		&.sps--blw { 
			& ~ #home { margin-top: 96px; }
		} 
		#contacts-offers-panel { position: static; padding: 0; left: auto; top: auto; margin: 0; background: transparent; display: flex; justify-content: flex-end; align-items: center;            
			.top-phone { display: inline-block; }
			.top-mail { display: inline-block;
				.mail-adress { display: none; }
			}
		}
	}
	#home {
		.container-fluid { padding-top: 30px;  padding-bottom: 30px; 
			.scroll-down { display: inline-block; }
		}
		h1 { margin-left: 0; }
	}
	#stats {
		.stat-icon { max-width: 40px; }
		.colored-fonts { font-size: 2rem; }
	}
	#why { 
		.why-title { display: block; }
		.left-background { background: url("/images/layout/homepage/left_corner_sm.png") no-repeat bottom right; }
		.why-content { padding-top: 30px;
			.why-boxes { margin-top: 100px;
				.why-row { padding-left: 30px; 
					.why-benefit { flex-flow: row;
						.why-icon { text-align: left; width: auto;  }                         
						.why-info { text-align: left; }
					}
				}
			}
		}
	}
    #references {
        .container-fluid { padding: 50px 0; }
        .reference-row {
			h2 { font-size: 37px; }
		}
	}
	#offer {
		.quality-panel {
			.quality-layout {
				&:nth-child(2n-1) .quality-box { border-right: 1px solid #50d7ea; }
				&:nth-last-child(2) .quality-box { border-bottom: none; }
			}
		}
	}
	#review {
		.review-box { padding: 20px; ;}
	}
	.top-banner {
		h1 { height: 77px; line-height: 77px; padding-left: 15px; padding-right: 65px;
			&::before { border-bottom-width: 77px; border-right-width: 50px; width: 50px; }
		}
	}	
}

@include media-breakpoint-up(md) { 
	h1 { font-size:  3.5rem; line-height:  3.7rem;
		&::before { height: 96px; }
	}
	h2 { font-size: 1.5rem; line-height: 1.8rem; }
	.btn-off { padding: 0 85px; }
	.btn-filter { font-size: 24px;
		span { font-size: 16px; }
	}
	.grid-item {
		&:hover {
			.grid-box { @include transform(translateX(0)); }
		}
	}
	.grid-box { padding: 15px 20px;
		.grid-name { font-size: 25px; }
		.grid-info { font-size: 17px; line-height: 22px; height: 88px; }
	}
	.reference-row {
		.reference-sum { font-size: 21px; }
	}
	.carousel3d-box { height: 400px;
		.carousel3d { width: 90%; height: 90%; }
	}
	#home {
		.container-fluid { 
			p { font-size: 1rem; line-height: 1.6rem; }
		}
	}
	#stats{ 
		.subtext {     font-size: 1.3rem; margin-top: 15px; display: inline-block; }   
		.colored-fonts { font-size: 2.6rem; line-height: 2rem; }  
	}
	#why { 
		.left-background {  }
	}
	#references {
		.container-fluid { padding-top: 100px; padding-bottom: 50px; } 
		.reference-row {
			h2 { font-size: 57px; }
		}
	}
	#offer {
		.offer-box { padding: 50px 30px; }
	}
	#review {
		.review-box { padding: 30px; ;}
	}
	.top-banner {
		h1 { height: 107px; line-height: 107px; padding-left: 45px; padding-right: 95px;
			&::before { border-bottom-width: 107px; }
		}
	}
	#contact {
		.big-contact {
			.contact-link { font-size: 29px; }
		}
		.info-contact { font-size: 20px; }
	}
	#team {
		.team-member {
			&:nth-child(1) { order: 1; }
			&:nth-child(2) { order: 2; }
			&:nth-child(3) { order: 3; }
			&:nth-child(4) { order: 4; }
			&:nth-child(5) { order: 5; }
			&:nth-child(6) { order: 6; }
			&:nth-child(7) { order: 7; }
		}
	}
	#story {
		#timeline {
			.year {
				.year_storys {
					.time-line {
						.time-line-item {
							.time-line-date { background-color: rgba(0,0,0,.52);
								&::after { border-top: 10px solid rgba(0,0,0,.52); }							
							}
							.time-line-dot { top: 50%; }
							&.time-line-item-left { right: 31px;
								.time-line-dot { right: -31px; }
							}
							&.time-line-item-right { left: 31px;
								.time-line-dot { left: -31px; }
							}
						}
					}
					.story { width: 45%; position: absolute;
						.story_outer { background-color: rgba(255,255,255,.24); }
						& ~ .story { margin-top: 0; }
					}
				}
			}
		}
	}
	.reference-page {
		.reference-panel {
			.panel-box {
				&:nth-child(1) { order: 1; }
				&:nth-child(2) { order: 3; }
				&:nth-child(3) { order: 2; }
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.grid-box {
		.grid-info { height: 66px; }
	}
	.reference-row { background-position-y: top;
		.reference-text { line-height: 2; }
	}
	.carousel3d-box {
		.carousel3d { width: 80%; }
	}
	#mobile-menu { display: none; }
	#top { 
		.cd-nav-trigger { display: none;}
		.top-phone { display: none !important;
			.phone-number { display: none; }
		}     
		.top-mail { display: none !important; 
			.mail-adress { display: none; }
		} 
	}	
	#stats {
		.container-fluid { padding-bottom: 0; }
		.stat-col { border-right: 1px #f0f0f0 solid; padding: 70px 0;  margin-top: 0;
			&:last-child { border: 0; }
		}
	}
	#why { 
		.container  {    }
		.why-content { padding-top: 100px; padding-bottom: 100px; 
			.why-boxes { margin-top: 100px;
				.why-row { padding-left: 30px; }
			}
			.bottom-shadow { left: -18px; }
		}
	}
	#references {
		.reference-row {
			&:not(.view) {
				.reference-sum { position: absolute; bottom: 0; padding: 0 20px; }
				&:nth-child(even) {
					.reference-sum { left: 35%; right: auto; width: 65%; }
				}
				&:nth-child(odd) {
					.reference-sum { left: auto; right: 35%; width: 65%; }
				}
			}
		}
	}
	#offer { background: #2e353b /*url("/images/layout/homepage/offer_bg.png")*/ no-repeat top left; height: 1067px;
		.container-fluid { padding-top: 150px; padding-bottom: 80px; }
		.container { margin-top: 100px; }
		.quality-panel { position: absolute; width: calc(100% - 20px); top: 100%; left: 10px; margin-top: 20px;
			.quality-layout {
				&:nth-child(n) .quality-box { border-right: 1px solid #50d7ea; }
				&:nth-child(4n) .quality-box { border-right: none; }
				&:nth-last-child(-n+4) .quality-box { border-bottom: none; }
			}
		}
	}
	#review {
		.container-fluid { padding-top: 160px; }
		.review-row { margin-top: 80px; }
		.review-box { padding: 50px; ;}
	}
	#world {
	.container-fluid { padding-top: 110px; padding-bottom: 110px; }
		.world-row { margin-top: 80px; }
	}
	#contact {
		.container { padding-top: 40px; padding-bottom: 40px; }
		.big-contact {
			.contact-link { font-size: 39px; }
		}
	}
	#team {
		.container { padding-top: 105px; padding-bottom: 35px; }
	}
	#story {
		.container { padding-top: 75px; padding-bottom: 35px; }
		#timeline {
			.year {
				.year_storys {
					.left_story { left: calc(50% - 45% - 23px); }
					.right_story { right: calc(50% - 45% - 23px); }
				}
			}
		}
	}
	#references-grid {
		.container-fluid { padding: 45px 0; }
	}
	.reference-page {
		.container { padding: 45px 20px; }
		.container-fluid { padding: 45px 0; }
		.reference-panel {
			.panel-box { padding: 10px 10px;
				&:nth-child(1) { order: 1; }
				&:nth-child(2) { order: 2; }
				&:nth-child(3) { order: 3; }
			}
		}		
	}
	#footer {
		.footer-layout { margin-top: 175px; margin-bottom: 275px;
			.underlayout { height: 482px; right: -60px; }
			.overlayout { width: calc(100% - 30px); height: 400px; right: -30px;
				&::before { border-bottom: 400px solid transparent; border-right: 100px solid rgba(36,36,36,.93); position: absolute; width: 100px; top: 0; left: -100px; content: " "; }
			}
			.footer-box { padding: 25px 60px; }
		}
	}
	#bottom {
		.container { padding-top: 40px; padding-bottom: 40px; }
	}
}
 
@include media-breakpoint-up(xl) {
	.btn-filter { font-size: 28px; padding: 5px 15px 0 25px; }
	.grid-box {
		.grid-name { font-size: 23px; }
		.grid-info { font-size: 15px; line-height: 20px; height: 60px; }
	}
	.carousel3d-box {
		.carousel3d { width: 80%; }
	}
	#main-menu { 
		.nav-link {  padding: 6px 8px; }
	}
	#top {
		#contacts-offers-panel {
			.top-phone { display: inline-block !important;  }
			.top-mail { display: inline-block !important;  }
		}
	}
	#home {
		.container-fluid { padding-top: 0; }
	}
	#stats {
		.stat-icon { max-width: 46px; }
		.colored-fonts { font-size:3.2rem;  }  
	}
	#why {
		.left-background { background: url("/images/layout/homepage/left_corner.png") no-repeat bottom right; }
		.why-title { display: none; }
	}
	#references {
		.reference-row {
			&:not(.view) {
				&:nth-child(even) {
					.reference-sum { left: 45%; right: auto; width: 55%; }
				}
				&:nth-child(odd) {
					.reference-sum { left: auto; right: 45%; width: 55%; }
				}
			}
			&.view {
				.reference-img {
					&:hover .reference-image-text {
						&::after { border-bottom-width: 70px; }
					}
				}
			}
		}
		.reference-image-text { font-size: 23px; text-align: center; width: 290px; height: 70px; line-height: 70px; top: calc(50% - 35px); left: calc(50% - 145px);
			&::before { border-bottom: 70px solid transparent; }
		}
	}
	#offer {
		.quality-panel { margin-top: 50px; }
	}
	#story {
		#timeline {
			.year {
				.year_storys {
					.story { width: 35%; }
					.left_story { left: calc(50% - 35% - 23px); }
					.right_story { right: calc(50% - 35% - 23px); }
				}
			}
		}
	}
	.reference-page {
		.reference-panel {
			.panel-box { padding: 10px 15px; }
			.panel-link { font-size: 27px; }
		}
	}
}

 @media (min-width: 1400px) {
 	.btn-filter { margin-left: 5px; margin-right: 5px; }
 	.grid-box { 
		.grid-name { font-size: 25px; }
		.grid-info { font-size: 17px; line-height: 22px; height: 88px; }
		.grid-data {
			.reference-data { font-size: 12px }
		}
	}
	.reference-row {
		&.triangle {
			.reference-img {
				.img-fluid { max-width: none; margin-top: -38px; }
			}
		}
	}
	.carousel3d-box {
		.carousel3d { width: 90%; }
	}
	#main-menu { 
		.nav-link {  padding: 6px 15px; }
	}
	#top { 
		#contacts-offers-panel {
			.top-phone { margin-left: 0; 
				.phone-number { display: inline-block !important; }
			}
			.top-mail { 
				.mail-adress { display: inline-block !important; }
			} 
		}
	}
	#stats {
		.colored-fonts { font-size:4rem; line-height: 3rem; }  
	}
	#why { background-size: 41% auto; }
	#references {
		.reference-row {
			&:not(.view) {
				&:nth-child(even) {
					.reference-sum { left: 55%; right: auto; width: 45%; }
				}
				&:nth-child(odd) {
					.reference-sum { left: auto; right: 55%; width: 45%; }
				}
			}
		}
	}
	#offer {
		.quality-panel {
			.gaus-blur { bottom: -23px; }
		}
	}
	#story {
		#timeline {
			.year {
				.year_storys {
					.story { width: 30%; }
					.left_story { left: calc(50% - 30% - 23px); }
					.right_story { right: calc(50% - 30% - 23px); }
				}
			}
		}
	}
}

@media (min-width: 1920px) {
	.grid-box { padding: 30px 40px;
		.grid-name { font-size: 33px; margin-bottom: 10px; }
		.grid-info { font-size: 20px; line-height: 30px; height: 120px; margin-bottom: 10px; }
		.btn-more { margin-top: 20px; }
	}
}